/* Start Reset - null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

img,fieldset {
	border:none;
}

/* layout */

body {
	padding:16px 0;
	font:normal 85%/140% arial,helvetica,sans-serif;
	text-align:center; /* center #pageWrapper in IE 5.x */
}

#pageWrapper {
	position:relative;
	width:90%;
	min-width:720px;
	max-width:1248px;
	margin:0 auto;
	text-align:left;
}

* html #pageWrapper {
	/*
	IE has no min/max width, but we can fake it with an expression. First we set a fixed width
	as a lowest common denominator for when jscript is disabled, then we run the expression to overload
	it if jscript is present.
	*/
	width:752px;
	width:expression(
		(document.body.clientWidth>1317) ? "1248px"
			: ((document.body.clientWidth>903) ? "90%" : "720px")
	);
}

h1 {
	text-align:center;
	padding:32px;
	margin:8px 8px 0;
	text-transform:uppercase;
	font:bold 40px/48px arial,helvetica,sans-serif;
}

h1 a {
	display:block;
	text-decoration:none;
}

h1 span {
	position:absolute;
	top:8px;
	left:0;
	width:100%;
	height:112px;
	/* image replacement goes here */
}


#mainMenu {
	list-style:none;
	height:36px;
	margin:0 8px;
	padding:0 2px;
	font:bold 14px/16px arial,helvetica,sans-serif;
}

#mainMenu li {
	position:relative;
	float:left;
	zoom:1;
	padding:4px 2px;
}

#mainMenu .right {
	float:right;
}

#mainMenu a {
	position:relative;
	float:left;
	padding:4px 12px;
}

#mainMenu a,
.pagination a,
.postControls a {
}

#mainWrapper {
	padding-top:8px;
	overflow:hidden;
	width:100%;
}

h2 {
	padding:8px 10px 6px 10px;
	font:bold 120%/120% arial,helvetica,sans-serif;
}

#sidebar h2 {
	font:bold 100%/120% arial,helvetica,sans-serif;
}

h2.link {
	padding:0;
	zoom:1;
}

h2.link span {
	padding:8px 10px 6px;
	float:right;
	font:normal 80%/150% arial,helvetica,sans-serif;
}

h2.link span span {
	display:none;
}

h2.link a {
	display:block;
	padding:8px 10px 6px;
}

#contentWrapper {
	width:100%;
	float:left;
}

#content {
	padding:0 288px 0 8px;
}

.contentBox {
	padding-bottom:8px;
}

.innerBox {
	overflow:hidden; /* wrap floats */
	zoom:1;
	padding:0 10px;
}

.innerBox p {
	padding:0.5em 0;
}

.innerBox p.postInfo {
	padding:5px 0 3px;
	font-style:italic;
}

#sidebar {
	float:right;
	width:280px;
	margin-left:-280px;
	position: relative;
}

.sidebarBox {
	zoom:1;
	padding:0 8px 8px 0;
}

.testimonial {
	font-style:italic;
}

.testimonialFooter {
	text-align:right;
}

.testimonialFooter span {
	font-weight:bold;
	font-style:italic;
}

#footer {
	clear:both;
	overflow:hidden; /* wrap floats */
	height:1%; /* trip haslayout, wrap floats IE */
	margin:0 8px 8px;
	padding:8px;
}

#footer p {
	float:right;
}

/* End Footer */

.bigLoginForm {
	display:block;
	width:26em;
	padding:8px 0;
	margin:0 auto;
}

.bigLoginForm .fieldsetWrapper {
	position:relative;
	margin:40px 0 0;
	padding:8px;
	line-height:2em;
	text-align:center;
}

.bigLoginForm legend span {
	position:absolute;
	top:-40px;
	left:0;
	width:100%;
	padding:11px 0;
	font:bold 16px/18px arial,helvetica,sans-serif;
	text-align:left;
	text-indent:1em;
}

.bigLoginForm fieldset label {
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	width:5.5em;
	text-align:right;
}

.bigLoginForm .submitsAndHiddens {
	overflow:hidden;
	height:1%;
	padding:8px;
	color:#FFF;
	background:#258;
}

.bigLoginForm .submitsAndHiddens label {
	float:left;
	vertical-align:middle;
}

.bigLoginForm .submitsAndHiddens .submit {
	float:right;
	vertical-align:middle;
}

.lastModified {
	float:right;
	padding-bottom:0.5em;
}

.pagination {
	text-align:right;
	padding-bottom:8px;
	list-style:none;
	font:bold 14px/16px arial,helvetica,sans-serif;
	vertical-align:middle;
}

.pagination li {
	display:inline;
	font-weight:bold;
	margin-right:-2px;
}

.pagination a,
.pagination span {
	display:inline-block;
	padding:4px;
	vertical-align:middle;
}

.postControls {
	float:left;
	display:inline;
	padding-bottom:8px;
	white-space:nowrap;
	list-style:none;
}

.postControls li {
	display:inline;
}

.postControls a {
	display:inline-block;
	padding:2px 8px;
	text-decoration:none;
	font:bold 14px/16px arial,helvetica,sans-serif;
}

.innerBox .lastModified {
	padding:3px 0;
	white-space:nowrap; /* force to newline after float if it would 'break up' */
	font:14px/16px arial,helvetica,sans-serif;
}

.innerBox .forceDiv {
	padding:1em 0;
}

#testimonials blockquote {
	padding:0.5em 0;
}

#testimonials .cite {
	text-align:right;
}

#testimonials blockquote p {
	padding:0.5em 0;
}

.leadingPlate {
	float:left;
	padding:0 0.5em 0.5em 0;
}

.trailingPlate {
	float:right;
	padding:0 0 0.5em 0.5em;
}

.plate {
	display:block;
	margin:0 auto 0.5em;
}

/* Colors, Borders and Images */

/*
	have to apply to both body and background as some browsers
	do NOT stretch body to full height when using linear gradients
*/
html,body {
	color:#000;
	background:#024 url(images/bodyBackground.png) top center repeat-y;
}

#pageWrapper {
	background:#CDE;
	border:2px solid #248;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
 	-moz-box-shadow:6px 6px 24px #000;
  -webkit-box-shadow:6px 6px 24px #000;
  box-shadow:6px 6px 24px #000;
}

h1 {
	background:#258 url(images/h1Gradient.png) top center repeat-x;
}

.bigLoginForm legend span,
.bigLoginForm .submitsAndHiddens,
.commonForm legend span,
#footer {
	background:#258 url(images/darkGradient.png) top center repeat-x;
}

h1,
h2,
h2 a,
.bigLoginForm legend span,
.bigLoginForm .submitsAndHiddens,
.commonForm legend span,
#footer {
	color:#FFF;
	-moz-border-radius:8px 8px 0 0;
	-webkit-border-radius:8px 8px 0 0;
	border-radius:8px 8px 0 0;
}

h1 a {
	color:#FFF;
	-moz-text-shadow:1px 1px 16px #012;
	-webkit-text-shadow:1px 1px 16px #012;
	text-shadow:1px 1px 16px #012;
}

h1 a:active,
h1 a:focus,
h1 a:hover {
	-moz-text-shadow:-4px 0 16px #09F,4px 0 16px #09F;
	-webkit-text-shadow:-4px 0 16px #09F,4px 0 16px #09F;
	text-shadow:-4px 0 16px #09F,4px 0 16px #09F;
}

h2,
h2 a {
	background:#258 url(images/h2Gradient.png) top left no-repeat;
}


h2 a {
	text-decoration:none;
	color:#DEF;

}

h2.link a:active,
h2.link a:focus,
h2.link a:hover {
	color:#FFF;
	background-color:#33679A;
	background-position:top right;
}

#mainMenu,
.innerBox,
.commonForm .submitsAndHiddens,
.bigLoginForm .submitsAndHiddens {
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
}


h1,
h2,
#mainMenu,
.innerBox,
.commonForm,
.bigLoginForm .submitsAndHiddens,
#footer {
	-moz-box-shadow:2px 2px 8px #48C;
	-webkit-box-shadow:2px 2px 8px #48C;
	box-shadow:2px 2px 8px #48C;
}

#mainMenu,
.innerBox,
.bigLoginForm .fieldsetWrapper {
	background:#FFF url(images/lightGradient.png) top center repeat-x;
}

#mainMenu,
.innerBox {
	border:solid #048;
	border-width:0 2px 2px;
}

.commonForm .submitsAndHiddens input,
#mainMenu a,
.pagination a,
.pagination span,
.postControls a {
	text-decoration:none;
	color:#02A;
	background:#DEF url(images/buttonBackground.png) center left repeat-x;
	border:2px solid #48C;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.pagination span {
	background:#EEE url(images/paginationCurrentGradient.png) center center repeat-x;
	border:2px solid #444;
}


.commonForm .submitsAndHiddens input:active,
.commonForm .submitsAndHiddens input:focus,
.commonForm .submitsAndHiddens input:hover,
#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover,
.pagination a:active,
.pagination a:focus,
.pagination a:hover,
.postControls a:active,
.postControls a:focus,
.postControls a:hover {
	color:#000;
	background-color:#BDF;
	background-position:center right;
 	-moz-box-shadow:0 0 8px #06F;
  -webkit-box-shadow:0 0 8px #06F;
  box-shadow:0 0 8px #06F;
}


#footer {
	color:#FFF;
	background-color:#258;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#footer a {
	color:#BDF;
}

#footer a:hover {
	color:#FFF;
}

#testimonials blockquote {
	border-top:2px solid #000;
}

.commonForm {
	padding-top:2em;
	margin-bottom:0.5em;
	border:2px solid #048;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.commonForm .fieldsetWrapper {
	position:relative;
	padding-top:0.7em;
	background:#FFF;
}

.commonForm legend span {
	position:absolute;
	top:-2em;
	left:0;
	width:100%;
	font-weight:bold;
	line-height:1.5em;
	padding:0.25em 0;
	text-indent:0.5em;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}

.commonForm label {
	float:left;
	display:inline;
	width:10em;
	line-height:1.6em;
	text-align:right;
}

.commonForm fieldset div div {
	margin:0 1em 0 10.5em;
	padding-bottom:0.5em;
}

.commonForm fieldset input {
	width:100%;
	padding-left:4px;
	height:1.6em;
	line-height:1.6em;
	background:#DEF;
	border:1px solid #ADE;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.commonForm fieldset input:focus {
	background:#E8F4FF;
}

.commonForm fieldset input.error {
	border-color:#FAA;
	background:#FDD;
}

.commonForm fieldset input.error:focus {
	background:#FEE;
}

.commonForm .submitsAndHiddens {
	text-align:right;
	background:#FFF;
	padding:0 0.5em 0.7em 10.5em;
}

.commonForm .submitsAndHiddens input {
	float:left;
}

.commonForm .submitsAndHiddens p {
	clear:both;
	padding-top:0.5em;
	text-align:center;
}

.commonForm .submitsAndHiddens p a {
	white-space:nowrap;
}

.commonForm i {
	padding-left:0.1em;
	font-style:normal;
}

.commonForm b {
	color:#C00;
	text-shadow:2px 2px 4px #F77;
}

.commonForm i,
.commonForm label span {
	font-weight:bold;
	color:#0A0;
	text-shadow:2px 2px 4px #6C6;
}

.commonForm .errorMessages {
	padding:0 1em 1em 12em;
}

.commonForm .makeAjaxRoom {
	position:relative;
	zoom:1; /* trip haslayout, fix positioning bugs */
	padding-right:96px;
}